$Dark : #141B2D;

// body {
//     background-color: $Dark !important;
// }
*{
    padding: 0;
    margin: 0;
}
.css-12lkpgt-MuiDrawer-docked .MuiDrawer-paper {
    background-color: #080f22;
}
.css-j92yoe-MuiDrawer-docked .MuiDrawer-paper {
    background-color: #080f22;
}
