.Configa, .Wrap_Detail .Detail_title a {
  text-decoration: none;
  color: #566686;
  transition: 0.5s;
}
.Configa:hover, .Wrap_Detail .Detail_title a:hover {
  color: #60babe;
}

.configcenter, .Wrap_Detail .Detail_product .Detail_product_wrap .desc, .Wrap_Detail .Detail_product .Detail_product_wrap form .form_img .wrap_Img, .Wrap_Detail .Detail_product .Detail_product_wrap form .form_img, .Wrap_Detail .Detail_product, .Wrap_Detail .Detail_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Start, .Wrap_Detail .Detail_product .Detail_product_wrap .desc .desc_wrap .title_desc, .Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .Quantity .Quantity_sl, .Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .Deliver .Deliver_sl, .Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .kg .kg_sl {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.configcenter_NoColum {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
}

.css-12lkpgt-MuiDrawer-docked .MuiDrawer-paper {
  background-color: #080f22;
}

.css-j92yoe-MuiDrawer-docked .MuiDrawer-paper {
  background-color: #080f22;
}

.Wrap_Detail {
  width: 100%;
  height: 800px;
}
.Wrap_Detail .Detail_title {
  width: 100%;
  height: 20%;
  background-color: #F1F2F6;
}
.Wrap_Detail .Detail_title h1 {
  font-size: 30px;
  font-weight: 600;
  color: #60babe;
  font-family: monospace;
  margin-bottom: 10px;
}
.Wrap_Detail .Detail_product {
  width: 100%;
  height: 75%;
  margin-top: 5%;
}
.Wrap_Detail .Detail_product .Detail_product_wrap {
  width: 80%;
  height: 100%;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form {
  width: 100%;
  height: 70%;
  display: flex;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_img {
  width: 50%;
  height: 100%;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_img .wrap_Img {
  width: 65%;
  height: 100%;
  background-color: #F2F3F5;
  margin-left: 15%;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_img .wrap_Img img {
  width: 65%;
  height: 80%;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product {
  width: 50%;
  height: 100%;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .form_Product_title {
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #ebeeee;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .form_Product_title h1 {
  font-size: 30px;
  font-weight: 600;
  color: #566686;
  font-family: monospace;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .form_Product_title p {
  color: #47C0B9;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .form_Product_title .one {
  color: #FEC007;
  padding-top: 6px;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .form_Product_title .two {
  color: #D0D0D0;
  padding-top: 6px;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .form_Product_title span {
  color: #D0D0D0;
  padding-left: 5px;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit {
  width: 100%;
  height: 80%;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .Price {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .Price h2 {
  color: #60babe;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .Price p {
  color: red;
  font-weight: 900;
  padding-left: 10px;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .Price span {
  color: green;
  padding-left: 10px;
  font-weight: 900;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle {
  width: 100%;
  height: 85%;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .kg {
  width: 100%;
  height: 33%;
  display: flex;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .kg .kg_name {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .kg .kg_name p {
  font-size: 1.2rem;
  font-weight: 900;
  color: #566686;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .kg .kg_sl {
  width: 70%;
  height: 100%;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .kg .kg_sl p {
  font-size: 1.2rem;
  font-weight: 900;
  color: #566686;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .Deliver {
  width: 100%;
  height: 33%;
  display: flex;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .Deliver .Deliver_name {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .Deliver .Deliver_name p {
  font-size: 1.2rem;
  font-weight: 900;
  color: #566686;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .Deliver .Deliver_sl {
  width: 70%;
  height: 100%;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .Deliver .Deliver_sl input {
  width: 70%;
  height: 40px;
  border: 1px solid #7d8fb3;
  font-weight: 400;
  padding-left: 5px;
  padding-right: 16px;
  border-radius: 3px;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .Deliver .Deliver_sl input:focus {
  outline: none;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .Quantity {
  width: 100%;
  height: 33%;
  display: flex;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .Quantity .Quantity_name {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .Quantity .Quantity_name p {
  font-size: 1.2rem;
  font-weight: 900;
  color: #566686;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .Quantity .Quantity_sl {
  width: 70%;
  height: 100%;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .Quantity .Quantity_sl input {
  width: 10%;
  height: 40px;
  border: 1px solid #7d8fb3;
  font-weight: 400;
  padding-left: 10px;
  font-size: 1.5rem;
  border-radius: 3px;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .Quantity .Quantity_sl input:focus {
  outline: none;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .Quantity .Quantity_sl button {
  width: 100px;
  height: 40px;
  background-color: #60babe;
  border: none;
  margin-left: 20px;
  color: white;
  transition: 0.3s ease-in-out;
}
.Wrap_Detail .Detail_product .Detail_product_wrap form .form_Product .Form_Submit .handle .Quantity .Quantity_sl button:hover {
  background-color: white;
  color: #47C0B9;
  border: 1px solid #60babe;
  cursor: pointer;
}
.Wrap_Detail .Detail_product .Detail_product_wrap .desc {
  width: 100%;
  height: 30%;
}
.Wrap_Detail .Detail_product .Detail_product_wrap .desc .desc_wrap {
  width: 75%;
  height: 100%;
}
.Wrap_Detail .Detail_product .Detail_product_wrap .desc .desc_wrap .title_desc {
  width: 100%;
  height: 35%;
  border-bottom: 1px solid #dde3f0;
}
.Wrap_Detail .Detail_product .Detail_product_wrap .desc .desc_wrap .title_desc h2 {
  font-size: 20px;
  font-weight: 600;
  color: #566686;
  border-bottom: 2px solid #60babe;
  padding-bottom: 10px;
  line-height: 10px;
}
.Wrap_Detail .Detail_product .Detail_product_wrap .desc .desc_wrap .title_content {
  width: 100%;
  height: 65%;
}
.Wrap_Detail .Detail_product .Detail_product_wrap .desc .desc_wrap .title_content p {
  font-size: 1rem;
  font-weight: 900;
  color: #918FB3;
  padding-top: 10px;
}/*# sourceMappingURL=index.css.map */