$Dark : #141B2D;
$turquoise : "#6DB0B3";
$txt_color: #7d8fb3;
$sub_txt_color: #E5EAF5;
$sub_a : #566686;
$primary-color: #60babe;

.Configa{
    text-decoration: none;
    color: $sub_a;
    transition: 0.5s;
    &:hover{
        color: $primary-color;
    }
}
.configcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.configcenter_NoColum {
    display: flex;
    justify-content: center;
    align-items: center;
}
// body {
//     background-color: $Dark !important;
// }
*{
    padding: 0;
    margin: 0;
}
.css-12lkpgt-MuiDrawer-docked .MuiDrawer-paper {
    background-color: #080f22;
}
.css-j92yoe-MuiDrawer-docked .MuiDrawer-paper {
    background-color: #080f22;
}
.Wrap_Detail{
    width: 100%;
    height: 900px;
    margin-bottom: 100px;
    .Detail_title{
        width: 100%;
        height: 20%;
        background-color: #F1F2F6;
        @extend .configcenter;
            h1{
                font-size: 30px;
                font-weight: 600;
                color: $primary-color;
                font-family: monospace;
                margin-bottom: 10px;
            }
            a{
                @extend .Configa
            }
    }
    .Detail_product{
        width: 100%;
        height: 75%;
        margin-top: 5%;
        @extend .configcenter;
        .Detail_product_wrap{
            width: 80%;
            height: 100%;
            form{
                width: 100%;
                height: 70%;
                display: flex;
                .form_img{
                    width: 50%;
                    height: 100%;
                    @extend .configcenter;
                    .wrap_Img{
                        width: 65%;
                        height: 100%;
                        background-color: #F2F3F5;
                        margin-left: 15%;
                        @extend .configcenter;
                        img{
                            width: 65%;
                            height: 80%;
                        }
                    }
                }
                .form_Product{
                    width: 50%;
                    height: 100%;
                    .form_Product_title{
                        width: 100%;
                        height: 20%;
                        border-bottom: 1px solid #ebeeee;
                        h1{
                            font-size: 30px;
                            font-weight: 600;
                            color: #566686;
                            font-family: monospace;
                        }
                        p{
                            color: #47C0B9;
                            padding-top: 10px;
                        }
                        .one{
                            color: #FEC007;
                            padding-top: 6px;
                        }
                        .two{
                            color: #D0D0D0;
                            padding-top: 6px;
                        }
                        span{
                            color: #D0D0D0;
                            padding-left: 5px;
                        }
                    }
                    .Form_Submit{
                        width: 100%;
                        height: 80%;
                        .Price{
                            width: 100%;
                            height: 15%;
                            margin-top: 45px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            h2{
                                color: $primary-color;
                                font-size: 1.7rem;
                                margin-bottom: 20px;
                            }
                            p{
                                color: red;
                                font-weight: 900;
                                padding-left: 10px;

                            }
                            span{
                                color: green;
                                padding-left: 10px;
                                font-weight: 900;
                            }
                        }
                        .handle{
                            width: 100%;
                            height: 85%;
                            background-color: #FBFBFB;
                            .kg{
                                width: 95%;
                                margin-left: 5%;
                                height: 25%;
                                display: flex;
                                .kg_name{
                                    width: 30%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    p{
                                        font-size: 1rem;
                                        font-weight: 500;
                                        color: #566686;
                                    }
                                }
                                .kg_sl{
                                    width: 70%;
                                    height: 100%;
                                    @extend .Start;
                                    p{
                                        font-size: 1rem;
                                        font-weight: 500;
                                        color: #566686;

                                    }
                                }
                            }
                            .Size{
                                width: 95%;
                                margin-left: 5%;
                                height: 25%;
                                display: flex;
                                .Size_name{
                                    width: 30%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    p{
                                        font-size: 1rem;
                                        font-weight: 500;
                                        color: #566686;
                                        margin-top: 10px;
                                    }
                                }
                                .Size_sl{
                                    width: 70%;
                                    height: 100%;
                                    display: flex;
                                    .S{
                                        width: 33%;
                                        height: 100%;
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                        input{
                                            cursor: pointer;
                                        }
                                        label{
                                            padding-left: 10px;
                                            p{
                                                font-weight: 700;
                                                margin-top: 15px;
                                            }
                                        }
                                    }
                                    .M{
                                        width: 33%;
                                        height: 100%;
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                        input{
                                            cursor: pointer;
                                        }
                                        label{
                                            padding-left: 10px;
                                            p{
                                                font-weight: 700;
                                                margin-top: 15px;
                                            }
                                        }
                                    }
                                    .L{
                                        width: 33%;
                                        height: 100%;
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                        input{
                                            cursor: pointer;
                                        }
                                        label{
                                            padding-left: 10px;
                                            p{
                                                font-weight: 700;
                                                margin-top: 15px;
                                            }
                                        }
                                    }
                                }
                            }
                            .Deliver{
                                width: 95%;
                                margin-left: 5%;
                                height: 25%;
                                display: flex;
                                .Deliver_name{
                                    width: 30%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    p{
                                        font-size: 1rem;
                                        font-weight: 500;
                                        color: #566686;
                                    }
                                }
                                .Deliver_sl{
                                    width: 70%;
                                    height: 100%;
                                    @extend .Start;
                                    input{
                                        width: 70%;
                                        height: 40px;
                                        margin-bottom: 6px;
                                        border: 1px solid $txt_color;
                                        font-weight: 400;
                                        padding-left: 5px;
                                        padding-right: 16px;
                                        border-radius: 3px;
                                        &:focus{
                                            outline: none;
                                        }
                                    }
                                }
                            }
                            .Quantity{
                                width: 95%;
                                margin-left: 5%;
                                height: 25%;
                                display: flex;
                                .Quantity_name{
                                    width: 30%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    p{
                                        font-size: 1rem;
                                        font-weight: 500;
                                        color: #566686;
                                    }
                                }
                                .Quantity_sl{
                                    width: 70%;
                                    height: 100%;
                                    margin-bottom: 10px;
                                    @extend .Start;
                                    input{
                                        width: 10%;
                                        height: 40px;
                                        margin-bottom: 5px;
                                        border: 1px solid $txt_color;
                                        font-weight: 400;
                                        padding-left: 10px;
                                        // padding-right: 10px;
                                        font-size: 1.5rem;
                                        border-radius: 3px;
                                        &:focus{
                                            outline: none;
                                        }
                                    }
                                    button{
                                        width: 100px;
                                        height: 40px;
                                        margin-bottom: 5px;
                                        background-color: $primary-color;
                                        border: none;
                                        margin-left: 20px;
                                        color: white;
                                        transition: 0.3s ease-in-out;
                                        z-index: 1;
                                        &:hover{
                                            background-color: white;
                                            color: #47C0B9;
                                            border: 1px solid $primary-color    ;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .desc{
                width: 100%;
                height: 30%;
                margin: 50px 0px;
                @extend .configcenter;
                .desc_wrap{
                    width: 75%;
                    height: 100%;
                    .title_desc{
                        width: 100%;
                        height: 35%;
                        @extend .Start;
                        border-bottom: 1px solid #dde3f0;
                        h2{
                            font-size: 20px;
                            font-weight: 600;
                            color: #566686;
                            border-bottom: 2px solid $primary-color;
                            padding-bottom: 10px;
                            line-height: 10px;
                        }
                    }
                    .title_content{
                        width: 100%;
                        height: 65%;
                        p{
                            font-size: 0.8rem;
                            font-weight: 600;
                            color: #918FB3;
                            padding-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

//todo Cart

.Wrap_body_Cart{
    width: 100%;
    height: 800px;
    .Cart_title{
        width: 100%;
        height: 20%;
        background-color: #F1F2F6;
        @extend .configcenter;
        h2{
            font-size: 30px;
            font-weight: 600;
            color: #566686;
            margin-bottom: 5px
        }
        a{
            @extend .Configa;
        }
    }
    .Cart_table{
        width: 100%;
        height: 75%;
        margin-top: 4%;;
        @extend .configcenter_NoColum;
        .Cart_table_container{
            width: 80%;
            height: 100%;
            display: flex;
            .table_child{
                width: 75%;
                height: 100%;
            table{
                width: 100%;
                border: 1px solid #e0e4ed;
                thead{
                    border: none;
                    height: 10%;
                    tr{
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        background-color: black;
                        color: white;
                    }
                }
                tbody{
                    tr{
                        border: none;
                        
                        border-bottom: 1px solid #e0e4ed;
                        text-align: center;
                        td{
                            padding: 30px 28px;
                            height: 50px;
                            color: $primary-color;
                            font-weight: 500;
                            img{
                                width: 50px;
                                height: 50px;
                            }
                            button{
                                width: 30px;
                                height: 30px;
                                border-radius: 50px;
                                border: none;
                                box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
                                :hover{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                td{
                    text-align: center;
                }
            }
            }
            .table_total{
                width: 25%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                .table_total_wrap{
                    width: 80%;
                    height: 30%;
                    background-color: #F8F8F8;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .table_total_tit{
                        width: 90%;
                        height: 15%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        border-bottom: 0.5px solid #e9e9e9;
                        h6{
                            color: #566686;
                        }
                    }
                    .table_total_Price{
                        width: 90%;
                        height: 80%;
                    }
                };
                .CheckOut{
                    width: 80%;
                    height: 10%;
                    margin-top: 5%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    a{
                        padding: 10px 20px;
                        background-color:$primary-color;
                        color: white;
                        &:hover{
                            border: 1px solid $primary-color;
                            background-color: white
                        }
                        @extend .Configa;
                    }
                }
            }
        }
    }
}

.Subtotal{
    width: 100%;
    height: 85%;
    .Subtotal_child{
        width: 100%;
        height: 50%;
        display: flex;
        .Subtotal_child_name{
            width: 70%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            p{
                padding-top: 15px;
                color: #566686;
            }
        }
        .Subtotal_child_price{
            @extend .configcenter;
            color: $primary-color;
            font-weight: 600;
        }
    }
}

//todo CheckOut 
.Wrap_body_Check{
    width: 100%;
    height: 1200px;
    @extend .configcenter;
    .Check_title{
        width: 100%;
        height: 20%;
        background-color: #F1F2F6;
        @extend .configcenter;
        a{
            @extend .Configa;
        }
    }
    .Check_Body{
        width: 100%;
        height: 70%;
        @extend .configcenter_NoColum;
        .Check_Wrap{
            width: 80%;
            height: 100%;
            display: flex;
            .Check_form{
                width: 70%;
                height: 95%;
                margin-top: 5%;
                border: 1px solid #e0e4ed;
                @extend .configcenter;
                .Check_form_title{
                    width: 100%;
                    height: 6%;
                    background-color: #222222;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    h2{
                        color: white;
                        font-size: 16px;
                        font-weight: 500;
                        font-family: 900;
                        margin: 0px 0px 0px 10px;
                    }
                }
                .body_formchek{
                    width: 80%;
                    height: 88%;
                    margin-top: 6%;
                    form{
                        width: 100%;
                        height: 100%;
                        .Information_form{
                            width: 100%;
                            height: 20%;
                            .Information_form_title{
                                width: 100%;
                                height: 40%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                &::after{
                                    content: "";
                                   position: absolute;
                                   left: 241px;
                                   top: 74%;
                                   width: 3px;
                                   background-color: rgb(96, 186, 190);
                                   height: 3%;
                                }
                                h2{
                                    font-size: 18px;
                                    font-family: Georgia, 'Times New Roman', Times, serif;
                                    font-weight: 700;
                                    margin-left: 15px;
                                }
                            }
                            .Information_form_input{
                                width: 100%;
                                height: 60%;
                                display: flex;
                                .Information_form_name{
                                    width: 50%;
                                    height: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    label{
                                        color: $txt_color;
                                    }
                                    input{
                                        width: 95%;
                                        height: 80px;
                                        margin-bottom: 6px;
                                        border: 1px solid $txt_color;
                                        font-weight: 400;
                                        padding-left: 5px;
                                        padding-right: 16px;
                                        border-radius: 3px;
                                        &:focus{
                                            outline: none;
                                        }
                                    }
                                }
                                .Information_form_Email{
                                    width: 50%;
                                    height: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    label{
                                        color: $txt_color;
                                    }
                                    input{
                                        width: 95%;
                                        height: 80px;
                                        margin-bottom: 6px;
                                        border: 1px solid $txt_color;
                                        font-weight: 400;
                                        padding-left: 5px;
                                        padding-right: 16px;
                                        border-radius: 3px;
                                        &:focus{
                                            outline: none;
                                        }
                                    }
                                }
                            }
                        }
                        .Add_Ressform{
                            width: 100%;
                            height: 80%;
                            .Add_RessTitle{
                                width: 100%;
                                height: 10%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: flex-end;
                                h2{
                                    font-size: 18px;
                                    font-family: Georgia, 'Times New Roman', Times, serif;
                                    font-weight: 700;
                                    margin-left: 15px;
                                }
                                &::after{
                                    content: "";
                                   position: absolute;
                                   left: 241px;
                                   top: 94.2%;
                                   width: 3px;
                                   background-color: rgb(96, 186, 190);
                                   height: 3%;
                                }
                            }
                            .Add_Ress_container{
                                width: 100%;
                                height: 90%;
                                .Phone_number{
                                    width: 100%;
                                    height: 30%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: flex-start;
                                    flex-direction: column;
                                    label{
                                        color: $txt_color;
                                    }
                                    input{
                                        width: 100%;
                                        height: 50px;
                                        margin-bottom: 6px;
                                        border: 1px solid $txt_color;
                                        font-weight: 400;
                                        padding-left: 5px;
                                        padding-right: 16px;
                                        border-radius: 3px;
                                        &:focus{
                                            outline: none;
                                        }
                                    }
                                }
                                .location{
                                    width: 100%;
                                    height: 30%;
                                    width: 100%;
                                    height: 30%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: flex-start;
                                    flex-direction: column;
                                    label{
                                        color: $txt_color;
                                    }
                                    input{
                                        width: 100%;
                                        height: 50px;
                                        margin-bottom: 6px;
                                        border: 1px solid $txt_color;
                                        font-weight: 400;
                                        padding-left: 5px;
                                        padding-right: 16px;
                                        border-radius: 3px;
                                        &:focus{
                                            outline: none;
                                        }
                                    }
                                }
                                .Payment{
                                    width: 100%;
                                    height: 40%;
                                    .Payment_title{
                                        width: 100%;
                                        height: 20%;
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: flex-end;
                                        h2{
                                            font-size: 18px;
                                            font-family: Georgia, 'Times New Roman', Times, serif;
                                            font-weight: 700;
                                            margin-left: 15px;
                                        }
                                        &::after{
                                            content: "";
                                           position: absolute;
                                           left: 241px;
                                           top: 139.6%;
                                           width: 3px;
                                           background-color: rgb(96, 186, 190);
                                           height: 3%;
                                        }
                                    }
                                    .Payment_container{
                                        width: 100%;
                                        height: 80%;
                                        label{
                                            margin-left: 20px;
                                            margin-bottom: 10px;
                                            font-family: Georgia, 'Times New Roman', Times, serif;
                                        }
                                        input{
                                            margin-left: 20px;
                                            margin-top: 20px;
                                            cursor: pointer;
                                        }
                                        button{
                                            width: 200px;
                                            height: 50px;
                                            border: none;
                                            background-color: $primary-color;
                                            color: white;
                                            margin-top: 30px;
                                            transition: 0.5s;
                                            &:hover{
                                                background-color: white;
                                                border: 1px solid $primary-color;
                                                color: $primary-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            } 
            .Check_total{
                width: 30%;
                height: 95%;
                margin-top: 5%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                .Check_total_wrap{
                    width: 80%;
                    height: 40%;
                    background-color: #F8F8F8;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .Check_total_wrapchild{
                        width: 80%;
                        height: 85%;
                        .Check_total_title{
                            width: 100%;
                            height: 15%;
                            border-bottom: 0.5px solid rgb(228, 228, 228);
                            h2{
                                font-weight: 500;
                                font-size: 18px;
                                color: #566686;
                            }
                        }
                        .Subtotal{
                            width: 100%;
                            height: 60%;
                            margin-top: 6%;
                            border-bottom: 0.5px solid rgb(228, 228, 228);
                            h2{
                                margin-top: 30px;
                                font-size: 17px;
                                color: #566686;
                            }
                            span{
                                padding-left: 100px;
                                font-size: 1rem;
                                color: $primary-color;
                            }
                        }
                        .Global_total{
                            width: 100%;
                            height: 15%;
                            h2{
                                margin-top: 19px;
                                font-size: 20px;
                                color: #566686;
                            }
                            span{
                                padding-left: 60px;
                                font-size: 1rem;
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
    .Check_Bottom{
        width: 80%;
        height: 10%;
    }
}
//todo Contact

.WrapConact{
    width: 100%;
    height: 900px;
    .WrapNav{
        width: 100%;
        height: 18%;
        @extend .configcenter;
        background: #f1f2f6;
        .Nav_title{
            width: 100%;
            height: 30%;
            text-align: center;
            h1{
                font-size: 28px;
                font-weight: 600;
                color: $primary-color;
                font-family: monospace;
            }
        }
        .Nav_location{
            width: 100%;
            height: 10%;
            text-align: center;
            a{
                @extend .Configa;
                font-weight: 500;
            }
            span{
                padding: 0px 10px;
            }
        }
    }
    .Wrap_ctn{
        width: 100%;
        height: 78%;
        margin-top: 4%;
        @extend .configcenter_NoColum;
        .Contact_ctn{
            width: 80%;
            height: 100%;
            display: flex;
            .Introduce_ctn{
                width: 40%;
                height: 85%;
                background-color: $primary-color;
                @extend .configcenter;
                margin-top: 4%;
                .Info_ctn{
                    width: 90%;
                    height: 90%;
                    display: flex;
                    .label{
                        width: 20%;
                        height: 100%;
                        @extend .configcenter;
                        h2{
                            transform: rotate(180deg);
                            writing-mode: vertical-lr;
                            color: rgb(255 255 255 / 0.2);
                            font-family: 'Bebas Neue', cursive;
                            font-weight: 800;
                            font-family: monospace;
                            font-size: 2.2rem;
                        }
                    }
                    .Info_List{
                        width: 80%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        .England{
                            width: 100%;
                            height: 29%;
                            background-color: white;
                            @extend .configcenter;
                            .England_tt{
                                width: 80%;
                                height: 30%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                .line{
                                    width: 3px;
                                    height: 60%;
                                    background-color: $primary-color;
                                    margin-bottom: 5px;
                                }
                                h2{
                                    font-size: 1.5rem;
                                    margin-left: 10px;
                                    font-weight: 600;
                                    color: #2f3942;
                                    font-family: monospace;
                                }
                            }
                            .England_ct{
                                width: 80%;
                                height: 40%;
                                p{
                                    color: #7d8fb3;
                                    font-size: 16px;
                                }
                            }
                        }
                        .Scotland{
                            width: 100%;
                            height: 29%;
                            background-color: white;
                            @extend .configcenter;
                            .Scotland_tt{
                                width: 80%;
                                height: 30%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                .line{
                                    width: 3px;
                                    height: 60%;
                                    background-color: $primary-color;
                                    margin-bottom: 5px;
                                }
                                h2{
                                    font-size: 1.5rem;
                                    margin-left: 10px;
                                    font-weight: 600;
                                    color: #2f3942;
                                    font-family: monospace;
                                }
                            }
                            .Scotland_ct{
                                width: 80%;
                                height: 40%;
                                p{
                                    color: #7d8fb3;
                                    font-size: 16px;
                                }
                            }
                        }
                        .Ireland{
                            width: 100%;
                            height: 29%;
                            background-color: white;
                            @extend .configcenter;
                            .Ireland_tt{
                                width: 80%;
                                height: 30%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                .line{
                                    width: 3px;
                                    height: 60%;
                                    background-color: $primary-color;
                                    margin-bottom: 5px;
                                }
                                h2{
                                    font-size: 1.5rem;
                                    margin-left: 10px;
                                    font-weight: 600;
                                    color: #2f3942;
                                    font-family: monospace;
                                }
                            }
                            .Ireland_ct{
                                width: 80%;
                                height: 40%;
                                p{
                                    color: #7d8fb3;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
            .Form_ctn{
                width: 60%;
                height: 98%;
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
                @extend .configcenter;
                .wrap_form{
                    width: 80%;
                    height: 85%;
                    .form_title{
                        width: 100%;
                        height: 20%;
                        .intro{
                            width: 100%;
                            height: 40%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            .line{
                                width: 3px;
                                height: 60%;
                                background-color: $primary-color;
                                margin-bottom: 5px;
                            }
                            h2{
                                font-size: 1.5rem;
                                margin-left: 10px;
                                font-weight: 600;
                                color: #2f3942;
                                font-family: monospace;
                            }
                        }
                        .intro_text{
                            width: 100%;
                            height: 60%;
                            p{
                                color: #7d8fb3;
                            }
                        }
                    }
                    .form_container{
                        width: 100%;
                        height: 80%;
                        form{
                            width: 100%;
                            height: 100%;
                            .formName{
                                width: 100%;
                                height: 20%;
                                display: flex;
                                flex-direction: column;
                                label{
                                    color: #918FB3;
                                }
                                input{
                                    border: 1px solid #e9e9e9;
                                    background-color: #fcfcfd;
                                    width: 100%;
                                    height: 50px;
                                    padding: 0 20px;
                                    color: #918FB3;
                                    &:focus{
                                        outline:  none;
                                    }
                                }
                            }
                            .formEmail{
                                width: 100%;
                                height: 20%;
                                display: flex;
                                flex-direction: column;
                                label{
                                    color: #918FB3;
                                }
                                input{
                                    border: 1px solid #e9e9e9;
                                    background-color: #fcfcfd;
                                    width: 100%;
                                    height: 50px;
                                    padding: 0 20px;
                                    color: #918FB3;
                                    &:focus{
                                        outline:  none;
                                    }
                                }
                            }
                            .formText{
                                width: 100%;
                                height: 45%;
                                display: flex;
                                flex-direction: column;
                                label{
                                    color: #918FB3;
                                }
                                textarea{
                                    padding: 10px 15px;
                                    border: 1px solid #e9e9e9;
                                    background-color: #fcfcfd;
                                    &:focus{
                                        outline: none;
                                    }
                                    
                                }
                            } 
                            .formButton{
                                width: 100%;
                                height: 15%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                button{
                                    width: 20%;
                                    height: 70%;
                                    background-color: $primary-color;
                                    border: none;
                                    color: white;
                                    font-weight: 700;
                                    margin-top: 20px;
                                    transition: 0.5s;
                                    text-transform: capitalize;
                                    &:hover{
                                        background-color: white;
                                        border: 1px solid $primary-color;
                                        color: $primary-color;
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}